body {
  background-image: url('panda.jpg');
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  height: 100vh;
}


@font-face {
  font-family: "Outfit";
  src: url("OutfitLight1.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit";
  src: url("OutfitRegular.ttf") format('truetype');
}



.layout {
  width: 360px;
  height: 390px;
  position: relative;
  top: 230px;
  left: 560.47px;
  border-radius: 12px;
  background: linear-gradient(180deg, #004157 0%, #111111 100%);
  justify-content: center;
  align-items: center;
}

.cold {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 42.5px;
  left: 59.47px;
  border-radius: 12px;
  background-color: #111111;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
}


.iced {
  position: absolute;
  top: 290px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.latte {
  font-family: Outfit;
  font-weight: 600;

  font-size: 28px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);


}

.brew {
  font-family: Outfit;
  font-weight: 400;
  font-size: 18px;
  margin-top: 2%;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(56, 204, 255, 1);
}

.music-player {
       
        position: fixed;
        z-index: 9999;
        bottom: 2.5rem;
        right: 6rem;
        border-radius: 50%;

    }

    .mainicon {
        width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: rgb(51,51,51);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      position: relative;
    }

    #playIcon {
      color: #fff;
      font-size: 1.5rem;
    }

    .wcircle{
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden; 
    border-radius: 50% ;

    }
    
    .circle-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(56, 254, 255, 0.5);
    background: radial-gradient(circle, rgba(0, 255, 255, 0.5) 40%, transparent 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    animation: pulse 2s infinite;
    animation-play-state: paused;
    }

    .circle-wave:nth-child(2) {
    animation-delay: 0.5s;
    }

    .circle-wave:nth-child(3) {
    animation-delay: 1s;
    }

    .circle-wave.active {
    animation-play-state: running;
     opacity: 0.8;
    }

    @keyframes pulse {
      0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.8;
      }
      100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
      }
    }

